<ion-row class="header pt6">
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/menu.png" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/back.png" (click)="goBack()" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="7.5" class="m-auto">
    <!-- <ion-title>
        Tab 2
      </ion-title> -->
  </ion-col>
  <ion-col size="1.5" class="m-auto text-center">
    <img src="assets/images/setting.png" alt="">
  </ion-col>
</ion-row>

<ion-content>
  <div id="sign-in-button" style="display: none;" ></div>

  <div class="form-container">
    <ion-row>
      <ion-col size="12" class="p0">
        <h1 class="heading p0 Poppins-SemiBold">{{"RESET PASSWORD" | translate}}</h1>
      </ion-col>
      <ion-col size="12" class="p0">
        <p class="m0 cwhite head-desc">{{"ENTER THE EMAIL ASSOICATED WITH YOUR ACCOUNT AND WE’LL SEND AN EMAIL WITH INSTRUCTIONS TO RESET YOUR PASSWORD." | translate}}</p>
      </ion-col>
      <ion-col size="12" class="mt10"></ion-col>
      <ion-col size="12">
        <div class="number-container">
          <div class="input-number-label-container touch-opacity" (click)="getCountry()">
            <ion-label class="input-number-label">{{selectedCountry.phonecode}}</ion-label>
          </div>
          <div class="input-number-container">
            <ion-input class="input-number" type="tel" placeholder="{{'Mobile' | translate}} #"
              [(ngModel)]="phoneNumber"></ion-input>
          </div>
        </div>
      </ion-col>
      
      <!-- <ion-col size="12">
        <p class="cblack">Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
      </ion-col> -->
      <ion-col size="12" class="ion-text-center button-container">
          <ion-button class="submit-button" color="none" (click)="verify()">
            <ion-label>{{"Verify" | translate}}</ion-label>
          </ion-button>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>
<ion-footer style="background-color: #7f132a;">
  <div class="ion-text-center">
    <img src="assets/images/app_login_logo.png" class="mt10" width="60%" alt="">
  </div>
</ion-footer>
