ion-content {
    --background: white;
}
.header {
    background: #7f132a;
    color: white;
}
.top-container {
    background-color: #7f132a;
    height: 50px;
}
.home-page {
    position: relative;
    top: -50px;
}
.emp-item{
    img{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 60px;
    }
}

.info-container{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E6E7E8;
    .list{
        border-radius: 10px;
    }
}
.emp-info{
    color: #58595B;
    font-size: 12px;
}
.fav-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    z-index: 999;
    // margin-right: 10px;
    // margin-top: 6px;
    color: white;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    font-size: 20px;
}
.worker-img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    // background-color: #bcbec0;
} 
.worker-img-list{
    width: 100%;
    height: 100px;
    margin-top: 4px;
    border-radius: 10px;
    object-fit: contain;
// background-color: #bcbec0;
}
.ion-sponsor-accordion :first{
    box-shadow: #5b5b5b 2px 2px;
}

.accordion-header {
    --background: #7f132a;
     --border-radius: 30px;
     --min-height: 30px;
     font-size: 14px;
     box-shadow:2px 3px 5px #5b5b5b;
     color: white;
     ion-icon{
         color: white;
     }
}
.ac-group{
    width: 90%;
}
.according-list{
    // padding-top: 20px;
    background: #E6E7E8;
    ion-item{
        --background: #E6E7E8;
        color: #808285;
        --border-color: white;
        --min-height: 36px;
        font-size: 14px;

    }
}
.ion-sponsor-accordion {
    border-radius: 28px !important;
    background-color: #e6e7e8;
    box-shadow:2px 3px 5px #5b5b5b;
    // ion-item{xw
    // height: 40px;
}