<ion-row class="header pt6">
  <!-- <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/menu.png" alt="">
  </ion-col> -->
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/back.png" (click)="goBack()" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="7.5" class="m-auto">
    <ion-title>
        {{"About Us" | translate}}
    </ion-title>
  </ion-col>
  <ion-col size="1.5" class="m-auto text-center">
    <!-- <img src="assets/images/setting.png" alt=""> -->
  </ion-col>
</ion-row>
<ion-content>
  
  <div class="logo-container">
    <div class="logo-img text-center pt10">
      <img src="assets/images/app_login_logo.png" alt="Shkalah" width="40%">
    </div>
  </div>
  <div class="pr10 pl10 m0  cblack">
    <h2 class="m0 pt4">{{"Terms And Conditions"| translate}}</h2>
    <p class="m0 cblack"  *ngIf="lang == 'ar'">{{settings['terms_ch_description']}}</p>
    <p class="m0 cblack" *ngIf="lang != 'ar'">{{settings['terms_en_description']}}</p>
  </div>
  <div class="hr"></div>
  <div class="pr10 pl10 m0 cblack">
    <h2 class="m0 pt4">{{"Privacy"|translate}}</h2>
    <p class="m0"  *ngIf="lang == 'ar'">{{settings['privacy_ch_description']}}</p>
    <p class="m0"  *ngIf="lang != 'ar'">{{settings['privacy_en_description']}}</p>
  </div>
  <div class="hr"></div>

  <div>
    <ion-row>
      <ion-col size="12">
        <h4 class="m0 pt10 cblack">{{"Contact Details" | translate}}</h4>
      </ion-col>
      <ion-col>
        <ion-row class=" cblack">
          <ion-col size="4" class="p0 pl10  cblack">
            <ion-label>
              {{"Email" | translate}}
            </ion-label>
          </ion-col>
          <ion-col class="p0 d-flex align-items-center">
            <ion-label>
              {{settings.email}}
            </ion-label>  
          </ion-col>
          <ion-col size="4" class="p0 pl10">
            <ion-label>
              {{"Phone" | translate}}
            </ion-label>
          </ion-col>
          <ion-col class="p0 d-flex align-items-center">
            <ion-label>
              {{settings.phone}}
            </ion-label>  
          </ion-col>
          <ion-col size="12" class="p0 hr"></ion-col>

          <ion-col size="12" class="p0 pl10">
            <ion-label>
              {{"Address" | translate}}
            </ion-label>
          </ion-col>
          <ion-col class="p0 pl4">
            <address class="pl10">
              "{{settings.address}}"
            </address>  
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-center">
        <ion-row>
          <ion-col></ion-col>
          <ion-col *ngIf="isValidHttpUrl(settings.tiktok)" (click)="openBrowser(settings.tiktok)">
            <img src="assets/images/tik-tok.png" alt="facebook" width="30px" >
          </ion-col>
          <ion-col *ngIf="isValidHttpUrl(settings.linkdin)" (click)="openBrowser(settings.linkdin)">
            <img src="assets/images/linkedin.png" alt="linkdin" width="30px" >
          </ion-col>
          <ion-col *ngIf="isValidHttpUrl(settings.instagram)"  (click)="openBrowser(settings.instagram)">
            <img src="assets/images/instagram.png" alt="instagram" width="30px" >
          </ion-col>
          <ion-col *ngIf="isValidHttpUrl(settings.facebook)" (click)="openBrowser(settings.facebook)">
            <img src="assets/images/facebook.png" alt="facebook" width="30px" >
          </ion-col>
          
          <ion-col *ngIf="isValidHttpUrl(settings.twitter)" (click)="openBrowser(settings.twitter)">
            <img src="assets/images/twitter.png" alt="twitter" width="30px" >
          </ion-col>
          
        
         
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  
  <!-- <div class="hr"></div> -->

 
    
</ion-content>