<ion-row class="header pt6">
  <!-- <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/menu.png" alt="">
  </ion-col> -->
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/back.png" (click)="goBack()" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="7.5" class="m-auto">
    <!-- <ion-title>
        Tab 2
      </ion-title> -->
  </ion-col>
  <ion-col size="1.5" class="m-auto text-center">
    <!-- <img src="assets/images/setting.png" alt=""> -->
  </ion-col>
</ion-row>

<ion-content>
  <div class="top-container">
    <ion-row>
      <ion-col size="9">
        <h1 class="heading m0">{{"Complaints and suggestions" | translate}} </h1>
      </ion-col>
      <ion-col size="3" class="d-flex ion-align-items-center">
        <img src="assets/images/edit-setting.png" width="40px" height="40px" alt="">
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col size="12" class="d-flex ion-justify-content-center mt10">
      <div class="comp-type-container">
        <div (click)="changeType('sugg')"
          [ngClass]="selectedType == 'sugg'?'comp-item-container-active':'comp-item-container'" class="touch-opacity">
          <ion-label class="individual-label">
            {{"Suggestions" | translate}}
          </ion-label>
        </div>
        <div (click)="changeType('comp')"
          [ngClass]="selectedType == 'comp'?'comp-item-container-active':'comp-item-container'" class="touch-opacity">
          {{"Complaint" | translate}}
        </div>
      </div>
    </ion-col>
    <ion-col>
      <p class="m0 cblack desc">{{"We are happy to have suggestions that you have to help us develop the application, if you have a complaint, please click on the complaint button" | translate}}</p>
    </ion-col>
    <ion-col size="12" class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
      <ion-spinner name=""></ion-spinner>
    </ion-col>
    <ion-col size="12" *ngIf="!isLoading">
      <div class="form-container">
        <ion-row>
          <ion-col size="12">
            <ion-label>{{"Department" | translate}}</ion-label>
            <ion-select [(ngModel)]="formData.dept_id" placeholder="{{'Choose Department' | translate}}">
              <ion-select-option *ngFor="let item of deptList" value="{{item.dept_id}}">{{item.dept_name}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-label>{{'Message' | translate}}</ion-label>
            <ion-textarea [(ngModel)]="formData.message" class="other" placeholder="{{'Write your message here......' | translate}}"></ion-textarea>
          </ion-col>
          <ion-col size="12">
            <!-- <ion-label>Message</ion-label> -->
            <ion-button (click)="send()" class="btn-send" color="none">{{'Send' | translate}}</ion-button>
          </ion-col>

        </ion-row>  
      </div>
    </ion-col>
  </ion-row>

</ion-content>