<ion-row class="header pt6">
  <!-- <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/menu.png" alt="">
  </ion-col> -->
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/back.png" (click)="goBack()" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="7.5" class="m-auto">
    <!-- <ion-title>
        Tab 2
      </ion-title> -->
  </ion-col>
  <!-- <ion-col size="1.5" class="m-auto text-center">
    <img src="assets/images/setting.png" alt="">
  </ion-col> -->
</ion-row>

<ion-content>
  <div *ngIf="isLoading" class="h100 d-flex justify-content-center align-items-center">
    <ion-spinner color="white"></ion-spinner>
  </div>
  <div class="form-container" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" class="p0">
        <h1 class="heading p0">{{"ADVANCE SEARCH" | translate}}</h1>
      </ion-col>
      <ion-col size="12" class="p0">
        <p class="m0 cwhite head-desc">{{"Filter content to me selection more easier" | translate}}</p>
      </ion-col>
      <ion-col size="12" class="mt10"></ion-col>
      <ion-col size="12">
        <ion-label>{{"Country" | translate}}</ion-label>
        <!-- <ion-input placeholder="KARINA BUYS"></ion-input> -->
        <ion-select placeholder="{{'Country' | translate}}" [(ngModel)]="formData.country">
          <ion-select-option *ngFor="let item of pageData.countries" value="{{item.country_id}}">{{item.name}}
          </ion-select-option>
          <!-- <ion-select-option>Sudia</ion-select-option> -->
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>{{"Age Range" | translate}}</ion-label>
        <!-- <ion-input placeholder="KARINA BUYS"></ion-input> -->
        <ion-select placeholder="eg: 10 to 20" [(ngModel)]="formData.age">
          <ion-select-option *ngFor='let item of counter(10) ;let i = index'
            value="{{(i + 1) * 10}} - {{((i+1) * 10)+10}}">
            {{(i + 1) * 10}} to {{((i+1) * 10)+10}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-label>{{"Religion" | translate}}</ion-label>
        <!-- <ion-input placeholder="KARINA BUYS"></ion-input> -->
        <ion-select placeholder="{{'eg: Muslim' | translate}}" [(ngModel)]="formData.religion">
          <ion-select-option *ngFor="let item of pageData.religion" value="{{item}}">{{item}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="5.6" class="m0 p0">
            <ion-label>{{"Salary" | translate}}</ion-label>
            <ion-select placeholder="{{'eg: From' | translate}}" [(ngModel)]="formData.salaryFrom">
              <ion-select-option *ngFor='let item of counter(100) ;let i = index' value="{{(i + 1) * 1000}}">
                {{(i + 1) * 1000}}
              </ion-select-option>

            </ion-select>
          </ion-col>
          <ion-col size=".8"></ion-col>
          <ion-col size="5.6" class="m0 p0 ml4">
            <ion-label>{{"To" | translate}}</ion-label>
            <ion-select placeholder="{{'eg: To' | translate}}" [(ngModel)]="formData.salaryTo">
              <ion-select-option *ngFor='let item of counter(100) ;let i = index' value="{{(i + 1) * 1000}}">
                {{(i + 1) * 1000}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- <ion-col size="12"> -->
      <ion-col size="12" class="p0">
        <h4 class="heading p0">{{"Sort" | translate}}</h4>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="5.6" class="m0 p0">
            <ion-label>{{"Sort By" | translate}}</ion-label>
            <ion-select placeholder="{{'Sort By' | translate}}" [(ngModel)]="formData.sort_by">
              <ion-select-option value="age">
                {{"Age"|translate}}
              </ion-select-option>
              <ion-select-option value="salary">
                {{"Salary"|translate}}
              </ion-select-option>
              <ion-select-option value="country_id">
                {{"Place of living" | translate}}
              </ion-select-option>
              <ion-select-option value="advs_type">
                {{"Ad Type" | translate}}
              </ion-select-option>
              <ion-select-option value="name">
                {{"Worker Name" | translate}}
              </ion-select-option>
              <ion-select-option value="created_at">
                {{"New" | translate}}
              </ion-select-option>

            </ion-select>
          </ion-col>
          <ion-col size=".8"></ion-col>
          <ion-col size="5.6" class="m0 p0 ml4">
            <ion-label>{{"ASC/DESC" | translate}}</ion-label>
            <ion-select placeholder='{{"eg: By Order" | translate}}' [(ngModel)]="formData.sort_order">
              <ion-select-option value="asc">
                {{"Ascending" | translate}}
              </ion-select-option>
              <ion-select-option value="asc">
                {{"Descending" | translate}}
              </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- </ion-col> -->

      <!-- <ion-col size="12">
        <p class="cblack">Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
      </ion-col> -->
      <ion-col size="12" class="ion-text-center button-container">
        <ion-button (click)="apply()" class="submit-button" color="none">
          <ion-label>{{"APPLY" | translate}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>