.btn-upload-cv{
    // background-color: linear;
    margin-top: 10px;
    background: #72BE52;
    margin: 0px;
    --border-radius: 14px;
    border-radius: 14px;
    box-shadow: 0;
    height: 28px;
    font-size: 14px;
    margin-top: 10px;
    width: 130px;
    font-family: "Roboto Medium";
}
.btn-ind{
    margin-top: 10px;
    background: #7F132A;
    margin: 0px;
    --border-radius: 14px;
    border-radius: 14px;
    box-shadow: 0;
    height: 28px;
    font-size: 14px;
    margin-top: 10px;
    width: 130px;
    font-family: "Roboto Medium";
}
.btn-doc{
    margin-top: 10px;
    background: #7F132A;
    margin: 0px;
    --border-radius: 14px;
    border-radius: 14px;
    box-shadow: 0;
    height: 28px;
    font-size: 14px;
    margin-top: 10px;
    // width: 130px;
    font-family: "Roboto Medium";
}
.btn-subscribe{
    margin-top: 10px;
    background: #f40035;
    margin: 0px;
    --border-radius: 14px;
    border-radius: 14px;
    box-shadow: 0;
    height: 28px;
    font-size: 14px;
    margin-top: 10px;
    // width: 130px;
    font-family: "Roboto Medium";
}
.btn-upload-container{
    margin-top: 14px;
    p{
        color: #7F132A;
        font-size: 6px;
    }
}
.form-container{
    font-size: 14px;
    color: #7f132a;
    padding: 0px 28px 0px 28px;
    ion-input{
        color: #6C7480;
        border: #707070 solid;
        border-radius: 4px;
        font-size: 13px;
        margin-top: 2px;
        height: 30px;
    }
    ion-select{
        color: #6C7480;
        border: #707070 solid;
        border-radius: 4px;
        font-size: 13px;
        margin-top: 2px;
        height: 30px;
    }
    .other{
        color: #6C7480;
        border: #707070 solid;
        border-radius: 4px;
        font-size: 13px;
        margin-top: 2px;
        // height: 30px;
    }
}
.submit-button{
    margin-top: 10px;
    background: linear-gradient(180deg, #7f132a 40%, rgba(201, 2, 105, 1) 100%);
    margin: 0px;
    --border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0;
    height: 28px;
    // width: 100px;
}
.number-container{
    background: #6C7480;
    ion-input{
        background: white;
        margin: 0px;
    }
}
.input-number-label-container{
    background-color: #6C7480;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 4px;
    font-size: 14px;
    width: 66px;
    height: 29px;
    /* align-items: center; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}