<ion-row class="header pt6">
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/menu.png" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="1.5" class="text-center m-auto">
    <img src="assets/images/back.png" (click)="goBack()" alt="">
    <!-- <img src="assets/images/menu.png" alt=""> -->
  </ion-col>
  <ion-col size="7.5" class="m-auto">
    <!-- <ion-title>
        Tab 2
      </ion-title> -->
  </ion-col>
  <ion-col size="1.5" class="m-auto text-center">
    <img src="assets/images/setting.png" alt="">
  </ion-col>
</ion-row>

<ion-content>
  <div>

  </div>
  <div class="form-container">
    <ion-row>
      <ion-col size="12" class="p0">
        <h1 class="heading p0 Poppins-SemiBold">CHECK YOUR MAIL</h1>
      </ion-col>
      <ion-col size="12" class="p0">
        <p class="m0 cwhite head-desc Poppins-SemiBold">WE HAVE SENT A PASSWORD RECOVER INSTRUCTIONS TO YOUR EMAIL.</p>
      </ion-col>
      <!-- <ion-col size="12">
        <p class="cblack">Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
      </ion-col> -->
      <ion-col size="12" class="ion-text-center button-container">
        <ion-button class="submit-button" color="none">
          <ion-label>SEND INSTRUCTIONS</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center button-container mt0">
        <ion-button class="submit-button m0" color="none" routerLink="/otp">
          <ion-label>Verify</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-label>Skip, I'll confirm later</ion-label>
      </ion-col>

    </ion-row>

  </div>
</ion-content>
<ion-footer>
  <div class="ion-text-center">
    <img src="assets/images/app_login_logo.png" class="mt10" width="60%" alt="">
  </div>
</ion-footer>