.login-root {
    background: #ffffff;
    height: 100%;
}
ion-content {
    --background: #ffffff;
}
.top-layout {
    background: linear-gradient(180deg, #7f132a 40%, rgba(201, 2, 105, 1) 100%);
    .app-bar-content {
        display: flex;
        align-items: center;
        padding: 20px 10px 0px 10px;
        justify-content: space-between;

        .btn-skip {
            color: rgb(0, 0, 0);
            background-color: #eec626;
            font-size: 12px;
            border-radius: 6px;
            padding: 2px 8px 2px 8px;
        }
        .welcome h2 {
            font-size: 30px;
            color: #ffffff;
            // margin-bottom: 0px;
        }
        .toggle-container {
            border-radius: 20px;
            box-shadow: 2px 3px 6px #000000b8;
            height: 18px;
        }

        ion-toggle {
            width: 46px;
            padding: 0px;

            // margin-bottom: 6px;
            position: relative;
            color: rgb(0, 0, 0);
            font-size: 15px;
            height: 20px;
            line-height: 31px;
            zoom: 0.9;

            --handle-box-shadow: 0px;
            --handle-spacing: 3px;
            --handle-height: 14px;
            --handle-width: 14px;
            --background: #ffffff;
            --background-checked: #ffffff;
            --handle-background: #8dc63f;
            --handle-background-checked: #8dc63f;
        }

        ion-toggle[aria-checked="false"] {
            &::after {
                position: absolute;
                content: "Arb";
                font-size: 12px;
                top: -6px;
                right: 5px;
                font-style: italic;
            }
        }

        ion-toggle[aria-checked="true"] {
            &::after {
                position: absolute;
                font-size: 12px;
                content: "Eng";
                top: -6px;
                font-style: italic;
                left: 5px;
            }
        }
    }
    .heading {
        text-align: center;
        margin-top: 10px;
        padding-bottom: 10px;

        .app-heading h1 {
            font-size: 38px;
            margin-top: 4px;
            font-family: "Montserrat Bold";
            color: #ffffff;
        }
    }
}
.bottom-layout {
    margin-top: 40px;
    .signup-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-container {
            width: 70%;
            margin-bottom: 10px;
            display: flex;
            height: 40px;
            position: relative;
            justify-content: center;
            align-items: center;
            ion-input {
                color: black;
                text-align: left;
                font-size: 14px;
                border: #6c7480 solid;
                border-width: 1px;
                border-radius: 4px;
                --padding-start: 10px;
            }
        }
       
    }
    .number-container{
        width: 70%;
        margin-bottom: 10px;
        display: flex;
        height: 40px;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: -2px;
        ion-input {
            color: black;
            text-align: center;
            font-size: 14px;
            border: #6c7480 solid;
            border-width: 1px;
            border-radius: 4px;
        }
        .input-number-label-container{
            background-color: #6C7480;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding-right: 4px;
            font-size: 14px;
            width: 90px;
            height: 96%;
            position: relative;
            z-index: 0;
            right: -2px;
            display: flex;
            align-items: center;
            .input-number-label{
                width: 100%;
                text-align: center;
                color: #ffffff;
            }
    
        }
        .input-number-container{
            z-index: 999;
            width: 140%;
            .input-number{
                background-color: #ffffff;
            }
            // border-top-left-radius: 0px;
            // border-bottom-left-radius: 0px;
        }
    }
    .txt-password-hint-container{
        width: 70%;
        color: black;
        .password-hint{
           
            font-family: "Roboto Light";
            font-size: 12px;
            // line-height: 1px;
            color: #00718C;
            margin: 0px;
            padding: 0px;
            margin-left: 2px;
        }
    }
    .account-type-container{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 70%;
        background: #7F132A;
        border-radius: 30px;
        margin-top: 10px;
        .account-item-container{
            width: 50%;
            padding: 3px 0px 3px 0px;
            font-size: 14px;
            text-align: center;
        }
        .account-item-container-active{
            width: 50%;
            padding: 3px 0px 3px 0px;
            font-size: 14px;
            text-align: center;
            background-color: #72BE52;
            border-radius: 30px;
        }
    }

    // 
   
    .fs-container {
        margin-top: 30px;
        .forget-password-container {
            color: #019ad6;
            font-size: 14px;
            text-align: center;
            text-decoration: underline;
            ion-label {
                font-family: "Roboto Light";
            }
        }
        .new-signup-container {
            color: black;
            text-align: center;
            font-size: 14px;
            margin-top: 4px;
            
            ion-label {
                font-family: "Roboto Light";
            }
        }
    }
}
.txt-signup {
    color: #019ad6;
    text-decoration: underline;
    font-family: "Roboto Light";
}
.login-icon-img{
    // border: solid 1px rgb(150, 150, 150);
    padding: 7px;
    border-radius: 10px;
    opacity: .8;
    background-color: #d4d4d4;
}
ion-select{
    color: #6C7480;
    border: #707070 solid;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 2px;
    height: 30px;
    width: 100%;
}